doctype html
html(lang='en')
    head
        title=test
        link(rel='stylesheet' href='/index.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' type='text/css')
        
    body
        div#app
        
        a(href='/auth/github') Login
        a(href='/logout') Log Out
        
        
        
        script(type='text/javascript' src='/bundle.js')