doctype html
html(lang='en')
    head
        title=test
        link(rel='stylesheet' href='/index.css')
    body
        div#app
        
        a(href='/auth/github') Login
        a(href='/logout') Log Out
        
        
        
        script(type='text/javascript' src='/bundle.js')