@import 'reset';

$dp-color: #00796B;
$p-color: #00796B;
$lp-color: #B2DFDB;
$a-color: #FFC107;
$text-color: #FFFFFF;
$s-text-color: #727272;
$p-text-color: #212121;
$divider-color: #B6B6B6;

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    position: relative;
}

.app-container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
    nav {
        height: 100px;
        width: 100%;
        line-height: 100px;
        white-space: nowrap;
        background-color: $dp-color;
        color: $text-color;
        margin-bottom: 30px;
        h1 {
            padding-left: 10px;
            font-size: 2em;
            float: left;
        }
        ul {
            float: right;
            li {
                display: inline-block;
                width: 90px;
                text-align: center;
                a {
                    color: $text-color;
                    text-decoration: none;
                }
                a.active {
                    color: $a-color;
                    text-decoration: none;
                }
                #username {
                    display: inline-block;
                    color: $text-color;
                }
            }
            li.tab {
                font-size: 1.3em;
            }
        }
    }
}

.home-container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    .bars-list {
        margin-right: auto;
        margin-left: auto;
        /*
        .bar {
            box-sizing: border-box;
            border-bottom: 1px solid $divider-color;
            padding: 5px;
            margin: 6px;
            height: 121px;
            line-height: 20px;
            h3 {
                font-size: 1.1em;
            }
            a {
                color: $s-text-color;
                text-decoration: none;
            }
            .bar-image {
                float: left;
                margin-left: 5px;
                img {
                    margin-top: 10px;
                    width: 80px;
                    border-radius: 50%;
                }
            }
            .bar-info {
                padding: 5px 5px 5px 15px;
                overflow: auto;
                height: auto;
            }
            .snippet {
                color: $s-text-color;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover {
                box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.14);
            }
            .going-status {
                cursor: pointer;
                background-color: $a-color;
                font-size: 0.8em;
                margin-left: 10px;
                padding: 2px 4px;
                &:hover {
                    border: 1px solid $s-text-color;
                }
            }
        }
        */
    }
}

.bar {
    box-sizing: border-box;
    border-bottom: 1px solid $divider-color;
    padding: 5px;
    margin: 6px;
    line-height: 20px;
    h3 {
        font-size: 1.1em;
    }
    a {
        color: $s-text-color;
        text-decoration: none;
    }
    .bar-image {
        float: left;
        margin-left: 5px;
        img {
            margin-top: 10px;
            width: 80px;
            border-radius: 50%;
        }
    }
    .bar-info {
        padding: 5px 5px 5px 15px;
        overflow: auto;
        height: auto;
    }
    .snippet {
        color: $s-text-color;
        //white-space: nowrap;
        //overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover {
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.14);
    }
    .going-status {
        cursor: pointer;
        background-color: $a-color;
        font-size: 0.8em;
        margin-left: 10px;
        padding: 2px 4px;
        &:hover {
            border: 1px solid $s-text-color;
        }
    }
}

.me-container {
    text-align: center;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    .bars-list {
        margin-right: auto;
        margin-left: auto;
        .bar {
            /*
            box-sizing: border-box;
            border-bottom: 1px solid $divider-color;
            padding: 5px;
            margin: 6px;
            box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.14);
            h3 {
                font-size: 1.1em;
            }
            .bar-image {
                float: left;
                width: 50px;
                img {
                    border-radius: 50%;
                }
            }
            .bar-info {
                padding: 5px 5px 5px 55px;
                overflow: auto;
                height: auto;
            }
            */
            button {
                cursor: pointer;
                font-family: 'Roboto', sans-serif;
                width: 90%;
                padding: 4px 0;
                background-color: $divider-color;
                border: 1px solid #BDBDBD;
                transition: all 0.2s;
                &:hover {
                    background-color: #EBEBEB;
                }
            }
        }
    }
}

.search-container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    form {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        input {
            font-family: 'Roboto', sans-serif;
            width: 95%;
            font-size: 1.3em;
            border: none;
            border-bottom: 1px solid $divider-color;
            padding: 4px;
            margin-bottom: 3px;
        }
        button {
            height: 38px;
            width: 87px;
            font-size: 1.3em;
            border: none;
        }
        
    }
}

.login {
    position: relative;
    .login-img {
        width: 29px;
        position: absolute;
        top: -22px;
    }
}

.going {
    background-color: $lp-color;
}

.hide {
    display: none;
}

.blank {
    padding-left: 20px;
}

.yelp {
    text-align: center;
    padding: 20px 0;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 25px;
    padding-top: 9px;
    background-color: $lp-color;
}

@media (max-width: 550px) {
    .login {
        position: relative;
        .login-img {
            width: 29px;
            position: absolute;
            top: 12px;
        }
    }
    .app-container {
        nav {
            line-height: 53px;
            ul {
                clear: both;
                li {
                    font-size: 1em;
                    color: #212121;
                    width: none;
                    display: inline-block;
                    text-align: center;
                    height: 40px;
                    a {
                        text-decoration: none;
                    }
                    a.active {
                        color: $a-color;
                        text-decoration: none;
                    }
                    #username {
                        display: inline-block;
                    }
                }
            }
        }
    }
}